@charset="utf-8";
html{
	font-size:62.5%;
	background:#fafafa;
	height:100%;

}
body{
    font-size:62.5%;
	background:#fafafa;
	height:100%;

}
 .headtop{
	font-size:1.3rem;
	padding:0 10%;
	background:white;
	display:flex;
	justify-content: space-between;
	align-items:center;
}

 .tel{
	color:#29b078;
	line-height:2.3rem;
}
.headmiddle{
	border-radius: 0;
	background:#29b078;
	font-size:1.7rem;
	margin:0;
	border:0;
}
.headmiddle .headmiddle1 .headmiddle2 ul a{
	color:white;
}
.headmiddle2 li{
	

}
.headmiddle button{
	border:none;
	background:none;/*0*/	
}
 .headmiddle .headmiddle1 .headmiddle3 button:focus,
 .headmiddle .headmiddle1 .headmiddle3 hutton:hover{
	 

 }
 .headmiddle .headmiddle1 .headmiddle3 .icon-bar{
	 background:white;
	 
	 
 }
 @media screen and (min-width:768px){
	 .headmiddle2 ul{
		 float:right;
		 padding-right:5%; 
		
		 
	 }
 }
 @media screen and (max-width:768px){
	 .headmiddle2 {
		 text-align:center;
		 background-color:#29b078;
	 }
 }
 @media screen and (min-width:768px){
	 .headmiddle2 li:hover p{
		 display:block;
	 }
 }
 .headmiddle2 li{
	 padding:1rem 0;
	 position:relative;
 }
 .headmiddle2 p{
  position: absolute;
  bottom: 0;
  display: none;
  height: 2px;
  text-align: center;
  width: 90%;
  background: white;
  padding: 0;
  margin: 0;
}
 .active img{
	 width:100%;
 }


 .headmiddle3{
	padding-right:6%;
	
 }

 .carousel-control{
    padding-top:14%;
	font-size:3rem;
}
 .carousel-control{
	 position: absolute;
	 top:10%;
	 font-size:3rem;

}
		

 .maintop{
  text-align: center;
  margin: 4rem auto;
}
@media screen and (min-width:768px) {
  .maintop1{
	 padding-right:5%;
    border-right: 2px dashed gray;
  }


}
@media screen and (max-width:768px) {
      .carousel-control{
	     top:-3%;
	     font-size:3rem;

}



}
    .maintop2{
      font-size: 1.5rem;
    }
.maintop3{
font-size: 1.3rem;
}
 .maintop-5{
	  justify-content: space-between;
	 text-align: center;
	
	 
 }
 .maintop-5-1{
	  font-size:1.5rem;
	 color:#29b078;
	 margin:2% 3%;
 }
  .maintop-5-1 span{
	  position:absolute;
	  margin-top:.3%;
  }


 /*如何学习*/
 h3{
	 text-align:center;
	 margin:4rem auto;
 }
 .number{
	 font-size:1.3rem;
	 display:flex;
	 justify-content:space-between;
	 align-items:center;  
 }
    .row{
	 margin:4rem auto 7rem auto;
 }

 .circle{
	 width:100%;
	 text-align:center;
 }
 .littlecircle{
	 display:inline-block;
	 line-height:1rem;
	 width:1rem;
	 height:1rem;
	 text-align:center;
	 border-radius:50%;
	 background-color:gray;
 }
 .person{
	 background:white;
	 text-align:center;
	 padding:5% 10%;
	 font-size:1.3rem;
	 
 }

 @media screen and (max-width:768px){
	  .number img{
 	width:70%;
	height:70%;
}
	 .person{
		 width:70%;
		 margin:3rem auto;
	 }
	 .person img{
		 width:80%;
	 }
 }
@media screen and (min-width:768px)
  {.mainbottom1{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mainbottom2{
    background: white;
    padding: 2rem 0;
    text-align: center;
  }

  
  }
@media screen and (max-width:768px)
{.mainbottom{
  text-align: center;
}
 .mainbottom1{
  width: 60%;
  height: auto;
}
 .mainbottom2{
  margin-bottom: 2rem;
}
 .mainbottom2 img{
  width: 70%;
}

}
 .mainbottom2:hover{
transform: translate(0px,-10px);
box-shadow:0  0 2px 2px orange;
z-index: 2;
}

/*友情链接*/

 .foot1{
	font-size:1.3rem;
	
}
.font4{
	text-align:center;
	margin:0% 0;
}
@media screen and (min-width:768px){
	.foot4{
		display:flex;
		justify-content:space-between;
	}

}
.foot1, .foot2, .foot3{
	text-align:center;
	
	
}
.foot2, .foot3{
	background-color:#29b078;
	width:100%;
	

}



